body {
  background: black;
  color: white;
}

.line-break-anywhere {
  line-break: anywhere;
}

.hidden {
  display: none;
}

#qrwebcam {
  width: 50vw;
  max-width: 100vh;
}

svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-github { color: #888; }
.icon-twitter { color: #55acee; }
.icon-twitch { color: #6441A4; }
